.modal-component {
  border-radius: 20px;
  font-family: "Archivo Black", sans-serif;
  width: 42rem;
  height: auto;
  padding: 1.5rem;
  background-color: var(--background);
  align-content: start;
  flex-wrap: wrap;
  gap: 2em;
  border: 1px solid transparent;
}

.modal-component .title-container {
  text-align: center;
  width: 100%;
  height: 5em;
  grid-area: TITLE;
}

.modal-component .title-container h1 {
  padding: 0.4em;
  letter-spacing: 2px;
  transition: 300ms;
  color: #3d3d3d;
  position: relative;
  display: flex;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  justify-content: center;
}
.modal-component .title-container h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #3d3d3d;
}

.modal-component .status-container {
  width: 100%;
  height: 4em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: STATUS;
}

.modal-component .status-container h2 {
  font-family: "Red Hat Mono", monospace;
  font-weight: 500;
  font-size: 1.9em;
  color: #3d3d3d;
  transition: 300ms;
}

.modal-component .status-container h2 span {
  font-size: 0.9em;
}

.modal-component .status-container .date-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.modal-component .status-container .date-container h2 {
  font-size: 1.2em;
  text-align: center;
}

.modal-component:hover .title-container h1 {
  letter-spacing: 4px;
  color: var(--background);
}
.modal-component:hover .title-container h1::before {
  background-color: var(--background);
}

.modal-component:hover .status-container h2 {
  font-weight: 800;
  color: var(--background);
}
.modal-component:hover .description-container p {
  color: white;
}
.modal-component:hover {
  background-color: #00000044;
  border: 1px solid var(--background);
}

.modal-component .description-container {
  grid-area: DESCRIPTION;
  font-size: 1.2em;
  display: block;
}

.modal-component .description-container p {
  color: #3d3d3d;
  font-family: "Red Hat Mono", monospace;
  font-size: 1.5em;
  word-wrap: break-word;
  width: 21em;
}

.modal-component .description-container button {
  background: none;
  padding: 0.3em;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
  border: 5px double white;
  margin-top: 1em;
  font-weight: bold;
  transition: 300ms;
  color: #3d3d3d;
}

.modal-component .description-container button:hover {
  border: 5px double var(--background);
  color: white;
  letter-spacing: 2px;
}

.modal-component .buttons-container {
  width: 100%;
  padding: 0.8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-component .buttons-container .check-button {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.modal-component .buttons-container .check-button .box-check {
  padding: 0.6em;
  font-size: 30px;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.modal-component .buttons-container .check-button .box-check .axle-x {
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 3px;
  left: 48%;
  transform: rotate(90deg);
  display: flex;
  transition: 300ms;
}
.modal-component:hover .buttons-container .check-button .box-check .axle-x,
.modal-component:hover .buttons-container .check-button .box-check::before,
.modal-component:hover .buttons-container .check-button .box-check .axle-y,
.modal-component:hover .buttons-container .check-button .box-check::after,
.modal-component:hover
  .buttons-container
  .check-button
  .box-check.active
  .axle-x {
  background-color: var(--background);
}

.modal-component .buttons-container .check-button .box-check::before {
  content: "";
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 3px;
  left: -48%;
  transform: rotate(90deg);
  display: flex;
  transition: 300ms;
}

.modal-component .buttons-container .check-button .box-check .axle-y {
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 3px;
  bottom: 95%;
  display: flex;
  transition: 300ms;
}

.modal-component .buttons-container .check-button .box-check::after {
  content: "";
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 3px;
  top: 90%;
  display: flex;
  transition: 300ms;
}

.modal-component .buttons-container .check-button .box-check.active .axle-x {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #222;
}

.modal-component .buttons-container .check-button .box-check.active .axle-y {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-component .buttons-container .check-button .box-check.active::before {
  left: -55%;
  opacity: 0;
}

.modal-component .buttons-container .check-button .box-check.active::after {
  top: 100%;
  opacity: 0;
}

.modal-component .buttons-container .check-button label {
  font-size: 2em;
  transition: 300ms;
  color: #222;
}

.modal-component:hover .buttons-container .check-button label {
  color: var(--background);
}

.modal-component .buttons-container .edit-delete {
  padding: 0.3em;
  width: 100%;
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
}

.modal-component .buttons-container .edit-delete button {
  border: 1px solid transparent;
  padding: 0.6em;
  cursor: pointer;
}

.modal-component .buttons-container .edit-delete button:nth-child(1) {
  background-color: white;
  color: #9632eb;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  transition: 300ms;
}

.modal-component .buttons-container .edit-delete button:nth-child(1):hover {
  background-color: #9632eb;
  color: white;
  transform: scale(1.08);
}

.modal-component .buttons-container .edit-delete button:nth-child(2) {
  background-color: white;
  color: #ff3434;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  transition: 300ms;
}

.modal-component .buttons-container .edit-delete button:nth-child(2):hover {
  background-color: #ff3434;
  color: white;
  transform: scale(1.08);
}
