back-end/.phpunit.cache
back-end/node_modules
back-end/public/build
back-end/public/hot
back-end/public/storage
back-end/storage/*.key
back-end/vendor
back-end.env
back-end.env.backup
back-end.env.production
back-end.phpunit.result.cache
back-endHomestead.json
back-endHomestead.yaml
back-endauth.json
back-endnpm-debug.log
back-endyarn-error.log
back-end/.fleet
back-end/.idea
back-end/.vscode
