@import url("./components/grid-style.css");
@import url("./components/main-container.css");
@import url("./components/search-container.css");
@import url("./components/tasks-container.css");
@import url("./components/modal-coponent.css");
@import url("./components/field-container.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Red Hat Mono", monospace;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
